
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="footer-wrapper">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">BOOKVERSE is a E-commerce Website to buy Books.</p>
                <p>Here we present all types of books for you ❤️</p>
              </div>
              <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="#">HOME</a></li>
                  <li><a href="">GITHUB</a></li>
                  <li><a href="">LINKEDIN</a></li>
                  <li><a href="">MAIL</a></li>
                </ul>
              </div>
        </div>
        
      </div>
      <br>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved .  
            <a href="#">BOOKVERSE</a> Developed by Rahul Kumar.
          </p>
        </div>
      </div>
    </div>
</footer>

</body>
  <!-- Site footer -->
</html> 