<header id="main-header">
  <div class="main-header-wrapper">
    <div id="logo"><a href="/">BOOKVERSE</a></div>
    <nav><%- include('nav-items') %></nav>
    <button id="mobile-menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>

<aside id="mobile-menu">
  <nav><%- include('nav-items') %></nav>
</aside>
